---
import AnimatedLines from './AnimatedLines.astro';

type Props = {
  cubicBezier: string;
  delayStep: number;
};

const LINES = 7;
const { cubicBezier, delayStep } = Astro.props;
---

<div class="grid-animation-wrapper" aria-hidden="true">
  <AnimatedLines
    lines={LINES}
    delayStep={delayStep}
    cubicBezier={cubicBezier}
    direction={'down'}
  />
  <AnimatedLines
    lines={LINES}
    delayStep={delayStep}
    cubicBezier={cubicBezier}
    direction={'up'}
  />
</div>

<style define:vars={{ 'grid-lines': LINES }}>
  :root {
    --gapping-width: 20px;
    --column-width: 80px;
  }

  .grid-animation-wrapper {
    display: grid;
    height: 100vh;
    pointer-events: none;
    grid-template-columns: repeat(var(--grid-lines), var(--gapping-width));
    column-gap: var(--column-width);
    justify-content: center;
  }
</style>
